<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
<!--		<add key="input" value="\\MW-SAPDIGITAL\digital_EXPORT\" /> -->
		<add key="input" value="input" />
		<add key="input_mentes" value="input_mentes" />
		<add key="output" value="out" />
		<add key="notvalid" value="err" />
		<add key="slice" value="5" />
		<add key="prefix" value="DigitalStand_" />
	</appSettings>
</configuration>
